/*
#nav { padding: 1.5em 0; } // but what is font size of #nav though
#nav > ul { height: 21px; }
*/
#header {
  padding-top: calc(21px + 3em);
}

body.homepage #header {
  height: 50vh;
  min-height: 20em;
}

#header h1 small {
  display: block;
  font-size: 0.4em;
  /*line-height: 1.25em;*/
  font-weight: 400;
}

/* TODO */

#cv {
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  padding: 2em 0;
  text-align: center;
}

#cv a {
  height: 1em;
}

#cv .pdf {
  height: calc(100vh - 9em); /* 4em #cv padding + 4em .pdf margin + 1em a height */
  width: calc((100vh - 9em) * 8.5 / 11);
  margin: 2em auto;
}

@media screen and (max-width: 736px) {
  /*
  #navButton a.toggle:before { height: 30px; }
  */
  #header {
    height: 90px;
    padding-top: 15px;
    /*padding-top: 30px;*/
  }

  /*
  #header {
    padding: 2.5em 0 0 0;
  }
  #header .inner {
    padding-top: 1.5em;
  }
  body.homepage #header {
    padding: 5.5em 0 5em 0;
  }
  */
}
