/*
#nav { padding: 1.5em 0; } // but what is font size of #nav though
#nav > ul { height: 21px; }
*/
#header {
  padding-top: calc(21px + 3em);
}

/*body.homepage #header {
  height: 50vh;
  min-height: 20em;
}*/

#header h1 small {
  display: block;
  font-size: 0.4em;
  /*line-height: 1.25em;*/
  font-weight: 400;
}

body.homepage #page-wrapper .wrapper.style1 {
  margin-bottom: 0;
}

/* TODO */

#cv {
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  padding: 2em 0;
  text-align: center;
}

#cv a {
  height: 1em;
}

#cv .pdf {
  height: calc(100vh - 9em); /* 4em #cv padding + 4em .pdf margin + 1em a height */
  width: calc((100vh - 9em) * 8.5 / 11);
  margin: 2em auto;
}

/* TODO */

.publications {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: stretch;
  align-content: center;
  overflow: hidden;
  padding: 2em 0 2em 0;
  margin-bottom: 0;
  width: 100%;
}

.publications article {
  /* TODO flex column for insides */
  display: inline-block;
  width: 18em;
  background: #fff;
  text-align: center;
  padding: 1em 1em 3em 1em;
  margin: 0 2em 2em 0;
  white-space: normal;
  opacity: 1.0;
  -moz-transition: opacity 0.75s ease-in-out;
  -webkit-transition: opacity 0.75s ease-in-out;
  -ms-transition: opacity 0.75s ease-in-out;
  transition: opacity 0.75s ease-in-out;
}

.publications article .image {
  margin-bottom: 3em;
}

.publications article .image img {
  height: 10em;
  width: auto;
  margin: auto;
}

.publications article .image img.no-image {
  visibility: hidden;
}

.publications article .image img.no-image::after {
  content: 'No Image Provided';
  display: block;
  height: 10em;
  line-height: 1em;
  text-align: center;
  width: 100%;
  visibility: visible;
  padding-top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.publications article h3 {
  height: 77px;
}

.publications article p {
  text-align: center;
}

@media screen and (max-width: 1680px) {
  .publications {
    padding: 1.5em 0 1.5em 0;
  }

  .publications article {
    width: 18em;
    margin: 0 1.25em 1.25em 0;
  }
}

@media screen and (max-width: 840px) {
  .publications  {
    padding: 1.25em 0 1.25em 0;
  }

  .publications article {
    width: 18em;
    margin: 0 1em 1em 0;
  }
}

@media screen and (max-width: 736px) {
  /*
  #navButton a.toggle:before { height: 30px; }
  */
  #header {
    height: 90px;
    padding-top: 15px;
    /*padding-top: 30px;*/
  }

  /*
  #header {
    padding: 2.5em 0 0 0;
  }
  #header .inner {
    padding-top: 1.5em;
  }
  body.homepage #header {
    padding: 5.5em 0 5em 0;
  }
  */

  .publications {
    padding: 0.5em 0 0.5em 0;
  }

  .publications article {
    width: calc(50% - 1em);
    padding-bottom: 2em;
    margin: 0 0.5em 0.5em 0;
  }

  .publications article:nth-child(2n) {
    margin-right: 0;
  }

  .publications article .image {
    margin-bottom: 2em;
  }

  .publications article .image img {
    max-width: 100%;
  }
}

@media screen and (max-width: 528px) {
  body.homepage #header {
    height: 7.5em;
    min-height: 5em;
    padding-top: 1em;
  }

  body.homepage p {
    text-align: left;
  }

  .publications article {
    margin-right: 0;
    width: 100%;
  }

  .publications article .image {
    display: none;
  }

  .publications article .image img.no-image {
    height: auto;
    margin-top: -5em;
    margin-bottom: -5em;
  }

  .publications article header {
    margin-top: 1em;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 529px) {
  body.homepage #header {
    height: 50vh;
    min-height: 20em;
  }
}
