<!-- Header -->
<div id="header">

  <!-- Mobile Nav -->
  <a id="mobile-nav" class="toggle">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </a>

  <!-- Inner -->
  <div class="inner">
    <header>
      <h1>
        <a href="/" id="logo">
          {% if page.title %}
            <small>Antonio Linero</small>
            {{ page.title }}
          {% else %}
            Antonio Linero
          {% endif %}
        </a>
      </h1>
    </header>
  </div>

  <!-- Nav -->
  <nav id="nav">
    <ul>
      <li><a href="/">About</a></li>
      <li><a href="/publications">Publications</a></li>
      <li><a href="/cv">CV</a></li>
    </ul>
  </nav>

</div>
